<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Pastelería</title>
    </head>
    <body>
        <header class="centered">
            <img src="/assets/Logo_Lumi_500px_bg_nobg.png" alt="Diabettinni logo" class="middle" width="250px" height="250px">
        </header>
        <section class="colored-bg">
            <nav class="menu">
                <ul class="menu">
                    <li class="menu"><a href="index.html" class="menu">Inicio</a></li>
                    <li class="menu"><a href="index.html" class="menu">Pedido</a></li>
                    <li class="menu"><a href="index.html" class="menu">Administración</a></li>
                    <li class="right-menu"><a href="index.html" class="menu">Acerca de</a></li>
                </ul>
            </nav>

            <h1 class="centered">Bienvenidos</h1>
            
            <section class="centered">
                <img src="/assets/pastel_verde.jpeg" alt="Pastel de espárragos" class="middle rounded" width="25%">
            </section>
            <!--
            <form>
                <label for="fname">First name:</label><br>
                <input type="text" id="fname" name="fname"><br>
            </form>
            -->
            <footer class="fixed">
                <link rel="stylesheet" type="text/css" href="/styles/style.css">
                
                <section>
                    <ul class="no-bullets">
                        <li>Dirección: Av. Siempre Viva 742</li>
                        <li>Teléfono: +52(618)1666548</li>
                        <li>Horarios de atención: Lu - Vi 08:00 - 19:00 hrs.</li>
                    </ul>
                </section>
            </footer>
        </section>
    </body>
</html>